<div class="scrollbar-sidebar">
    <div class="app-sidebar__inner">
        <ul class="vertical-nav-menu">
            <!-- <li class="app-sidebar__heading">Dashboards</li>
            <li>
                <a href="index.html" class="mm-active">
                    <i class="metismenu-icon pe-7s-rocket"></i>
                    Dashboard Example 1
                </a>
            </li> -->
            <li class="app-sidebar__heading">Dashboard</li>
            <li>
                <a href="/user/s/campaigns">
                    <i class="metismenu-icon pe-7s-graph1"></i>
                    Campaigns
                </a>
            </li>
            <li>
                <a href="/user/s/layouts">
                    <i class="metismenu-icon pe-7s-note2"></i>
                    Layouts
                </a>
            </li>
            <li>
                <a href="/user/contacts">
                    <i class="metismenu-icon pe-7s-users"></i>
                    Contacts
                </a>
            </li>
            <li>
                <a href="/user/s/schedules">
                    <i class="metismenu-icon pe-7s-date"></i>
                    Schedules
                </a>
            </li>
            <li>
                <a href="/user/settings">
                    <i class="metismenu-icon pe-7s-user">
                    </i>Account settings
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="metismenu-icon pe-7s-back">
                    </i>Log out
                </a>
            </li>
            <li class="app-sidebar__heading">PRO Version</li>
            <li>
                <a href="" target="_blank">
                    <i class="metismenu-icon pe-7s-rocket">
                    </i>
                    Upgrade to PRO
                </a>
            </li>
        </ul>
    </div>
</div>