@{extends "shared/layout"}

	<!-- banner -->
	<div class="banner_w3lspvt position-relative">
		<div class="container">
			<div class="d-md-flex">
				<div class="w3ls_banner_txt">
					<h3 class="w3ls_pvt-title">Mail <span>Bear</span></h3>
					<p class="text-sty-banner">Easy email, landing pages, and marketing automation.
						All in one mighty platform, working together to get you results.</p>
					<a href="about" class="btn button-style mt-md-5 mt-4">Sign Up Free</a>
				</div>
				<div class="banner-img">
					<img src="bundles/images/banner.png" alt="" class="img-fluid">
				</div>
			</div>
		</div>
		<!-- animations effects -->
		<div class="icon-effects-w3l">
			<img src="bundles/images/shape1.png" alt="" class="img-fluid shape-wthree shape-w3-one">
			<img src="bundles/images/shape2.png" alt="" class="img-fluid shape-wthree shape-w3-two">
			<img src="bundles/images/shape3.png" alt="" class="img-fluid shape-wthree shape-w3-three">
			<img src="bundles/images/shape5.png" alt="" class="img-fluid shape-wthree shape-w3-four">
			<img src="bundles/images/shape4.png" alt="" class="img-fluid shape-wthree shape-w3-five">
			<img src="bundles/images/shape6.png" alt="" class="img-fluid shape-wthree shape-w3-six">
		</div>
		<!-- //animations effects -->
	</div>
	<!-- //banner -->
	
	<!-- what we do section -->
	<div class="what bg-li py-5" id="what">
		<div class="container py-xl-5 py-lg-3">
			<div class="row about-bottom-w3l text-center mt-4">
				<div class="col-lg-4 about-grid">
					<div class="about-grid-main">
						<img src="bundles/images/img1.png" alt="" class="img-fluid">
						<h4 class="my-4">Email Marketing</h4>
						<p> Send greet looking Emails that engage and sell</p>
						<a href="about.html" class="button-w3ls btn mt-sm-5 mt-4">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 about-grid my-lg-0 my-5">
					<div class="about-grid-main">
						<img src="bundles/images/img2.png" alt="" class="img-fluid">
						<h4 class="my-4">Marketing Automation</h4>
						<p>Look like a pro with elegant, easy-to-use design tools.</p>
						<a href="about.html" class="button-w3ls btn mt-sm-5 mt-4">Read More</a>
					</div>
				</div>
				<div class="col-lg-4 about-grid">
					<div class="about-grid-main">
						<img src="bundles/images/img3.png" alt="" class="img-fluid">
						<h4 class="my-4">Landing Pages</h4>
						<p>Generate leads with good convertable landing pages</p>
						<a href="about.html" class="button-w3ls btn mt-sm-5 mt-4">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //what we do section -->

	<!-- middle -->
	<section class="midd-w3 py-5" id="faq">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-6 about-right-faq">
					<h6>Business Consultancy</h6>
					<h3 class="text-da">25 Years of Industry Experience</h3>
					<p class="mt-4">Our benefits go beyond free food and flexible schedules. We invest in people so they can live their best lives at work and at home.</p>
					<ul class="w3l-right-book mt-4">
						<li>Marketing Base</li>
						<li>Financial Consulting</li>
						<li>Investment Advice</li>
						<li>Business Growth</li>
						<li>Technical Support</li>
					</ul>
					<a href="about.html" class="btn button-style button-style-2 mt-sm-5 mt-4">Read More</a>
				</div>
				<div class="col-lg-6 left-wthree-img text-right">
					<img src="bundles/images/b1.png" alt="" class="img-fluid mt-5" />
				</div>
			</div>
		</div>
	</section>
	<!-- //middle -->

	<!-- services -->
	<section class="banner-bottom-w3layouts bg-li py-5" id="services">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center font-weight-bold">Our Services</h3>
			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">With MailBear you get unlimited access to all templates and free images – no matter what package you choose.</p>
			<div class="row pt-lg-4">
				<div class="col-lg-4 about-in text-center">
					<div class="card">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fa fa-line-chart"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Business Growth</h5>
							<p class="card-text"> Keep customers connected with informative product follow-up emails. 
								To make their customers feel appreciated,</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center my-lg-0 my-3">
					<div class="card active">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fa fa-usd"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Financial Planning</h5>
							<p class="card-text">Use ecommerce integrations to deliver post-purchase mailings and track buying behavior.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 about-in text-center">
					<div class="card">
						<div class="card-body">
							<div class="bg-clr-w3l">
								<span class="fa fa-lightbulb-o"></span>
							</div>
							<h5 class="card-title mt-4 mb-3">Business Services</h5>
							<p class="card-text">Prepare a package of discounts and seasonal offers that the buyers can’t get in stores.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //services -->

	<!-- stats -->
	<section class="bottom-count py-5" id="stats">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="col-lg-5 left-img-w3ls">
					<img src="bundles/images/b2.png" alt="" class="img-fluid" />
				</div>
				<div class="col-lg-7 right-img-w3ls pl-lg-4 mt-lg-2 mt-4">
					<div class="bott-w3ls mr-xl-5">
						<h3 class="title-w3 text-bl mb-3 font-weight-bold">Some of Company Real Facts</h3>
						<p class="title-sub-2 mb-3">“When customers share their story, they’re not just sharing pain points. They’re actually teaching you how to make your product, service, and business better.”</p>
					</div>
					<div class="row mt-5">
						<div class="col-sm-4 count-w3ls">
							<h4>1000+</h4>
							<p>Project completed</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>480+</h4>
							<p>Consultant</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>600+</h4>
							<p>Award Winning</p>
						</div>
					</div>
					<div class="row mt-sm-5 mt-4">
						<div class="col-sm-4 count-w3ls">
							<h4>480+</h4>
							<p>Consultant</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>600+</h4>
							<p>Award Winning</p>
						</div>
						<div class="col-sm-4 count-w3ls mt-sm-0 mt-3">
							<h4>1000+</h4>
							<p>Project completed</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //stats -->

	<!-- partners -->
	<section class="partners py-5" id="partners">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle text-center font-weight-bold">Our Partners</h3>
			<p class="sub-tittle text-center mt-3 mb-sm-5 mb-4">You definitely in the right place</p>
			<div class="row grid-part text-center pt-4">
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fa fa-angellist"></span></a>
						<h4>Angellist</h4>
					</div>
				</div>
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fa fa-opencart"></span></a>
						<h4>opencart</h4>
					</div>
				</div>
				<div class="col-md-2 col-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fa fa-lastfm"></span></a>
						<h4>lastfm</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fa fa-openid"></span></a>
						<h4>openid</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fa fa-skyatlas"></span></a>
						<h4>skyatlas</h4>
					</div>
				</div>
				<div class="col-md-2 col-4 mt-md-0 mt-4">
					<div class="parts-w3ls">
						<a href="#"><span class="fa fa-ravelry"></span></a>
						<h4>ravelry</h4>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //partners -->