@{extends "shared/layout"}

	<!-- price -->
	<div class="price-sec py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="inner_sec_info_w3_info mt-3">
				<div class="row price-grid-main">
					<div class="col-lg-3 col-sm-6 price-info">
						<div class="prices p-4">
							<div class="prices-top">
								<h3 class="text-center text-wh rounded-circle">$30</h3>
							</div>
							<div class="prices-bottom text-center">
								<div class="prices-h border-bottom p-4">
									<h4>Standard</h4>
								</div>
								<ul class="mt-4">
									<li>Community Access</li>
									<li>Annual Reports</li>
									<li>Free Support</li>
									<li>Expert Reviews</li>
								</ul>
								<a href="#" class="btn button-style mt-4">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6  price-info price-mkres-2">
						<div class="prices p-4 active">
							<div class="prices-top">
								<h3 class="text-center text-wh rounded-circle">$80</h3>
							</div>
							<div class="prices-bottom text-center">
								<div class="prices-h border-bottom p-4">
									<h4>Premium</h4>
								</div>
								<ul class="mt-4">
									<li>Limitless Concepts</li>
									<li>Annual Reports</li>
									<li>Free Support</li>
									<li>Expert Reviews</li>
								</ul>
								<a href="#" class="btn button-style mt-4">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6  price-info price-mkres">
						<div class="prices p-4">
							<div class="prices-top">
								<h3 class="text-center text-wh rounded-circle">$60</h3>
							</div>
							<div class="prices-bottom text-center">
								<div class="prices-h border-bottom p-4">
									<h4>Golden</h4>
								</div>
								<ul class="mt-4">
									<li>Community Access</li>
									<li>Annual Reports</li>
									<li>Free Support</li>
									<li>Expert Reviews</li>
								</ul>
								<a href="#" class="btn button-style mt-4">Purchase</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-sm-6  price-info price-mkres">
						<div class="prices p-4 active">
							<div class="prices-top">
								<h3 class="text-center text-wh rounded-circle">$30</h3>
							</div>
							<div class="prices-bottom text-center">
								<div class="prices-h border-bottom p-4">
									<h4>Ultimate</h4>
								</div>
								<ul class="mt-4">
									<li>Limitless Concepts</li>
									<li>Annual Reports</li>
									<li>Free Support</li>
									<li>Expert Reviews</li>
								</ul>
								<a href="#" class="btn button-style mt-4">Purchase</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //price -->