@{extends "shared/layout"}
      <div class="container h-100 mt-5">
        <div class="row h-100 justify-content-center align-items-center">
          <form class="col-6">
              <h1>Please Enter Your Address</h1>
              <h4>we need a physical address to make sure your emails comply with international anti-spam laws.</h4>
              <div class="form-group">
                  <label for="inputname">Address line 1 (Street address or post office box)</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputname"
                    aria-describedby="inputName"
                    placeholder=""
                  />
                 
                </div>

                <div class="form-group">
                        <label for="inputname">Address line 2 (optional)</label>
                        <input
                          type="text"
                          class="form-control"
                          id="inputname"
                          aria-describedby="inputName"
                          placeholder=""
                        />
                       
                      </div>
                <div class="form-group col-8">
                  <label for="City">City</label>
                  <input
                    type="text"
                    class="form-control"
                    id="inputcity"
                    placeholder="City"
                  />
                </div>
                <div class="form-group col-8">
                <label for = "State/Province/Region">State/Province/Region</label>
                <input
                type = "text"
                class = "form-control"
                id="inputstate"
                placeholder = "State/Province/Region"
                >
                
            </div>
            <div class="form-group col-8">
                    <label for="Zip Code/Postal Code">Zip Code/Postal Code</label>
                    <input
                      type="text"
                      class="form-control"
                      id="inputcountry"
                      placeholder="Zip Code/Postal Code"
                    />
                  </div>
                  <div class="form-group col-8">
                  <label for = "Country">Country</label>
                  <input
                  type = "text"
                  class = "form-control"
                  id="inputstate"
                  placeholder = "Country"
                  >
                  
              </div>
                <button type="submit" class="btn btn-primary">Continue</button>
              </form>
          </form>
        </div>
      </div>
