@{extends "shared/layout"}
<div class="container h-100 mt-5">
  <div class="row h-100 justify-content-center align-items-center">
    <form class="col-6">
      <h1>Please Enter Your Address</h1>
      <h4>
        we need a physical address to make sure your emails comply with
        international anti-spam laws.
      </h4>
      <br />
      <div class="form-group">
        <label for="address"
          >Address line 1 (Street address or post office box)</label
        >
        <input
          type="address"
          class="form-control"
          id="inputname"
          placeholder=""
          required
        />
      </div>

      <div class="form-group">
        <label for="inputname">Address line 2 (optional)</label>
        <input
          type="address"
          class="form-control"
          id="inputname"
          placeholder=""
          required
        />
      </div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="City" name = "City" required/>
        <span class="input-group-addon"></span>
        <input type="text" class="form-control" placeholder="State" name = "state" required />
      </div>
      <br />
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Country" required/>
        <span class="input-group-addon"></span>
        <input
          type="country"
          class="form-control"
          placeholder="Zip Code/Postal Code"
        />
      </div>

      <br />
      <button type="submit" class="btn btn-primary">Continue</button>
    </form>
  </div>
</div>
