@{extends "shared/layout"}
      <div class="container h-100 mt-5">
        <form class="row h-100 justify-content-center align-items-center">
          <div class="col-6">
            <h1>Connect Social Media</h1>
            <p>
              Share your campaigns with followers and create social posts.
            </p>

            <hr />
            <i class="fa fa-facebook fa-lg  mr-3">Facebook</i> <i class="fa fa-plus-circle"></i>
            <hr />
            <i class="fa fa-twitter fa-lg ml- 2 mr-3">Twitter</i> <i class="fa fa-plus-circle"></i>
            <hr />

            <button type="submit" class="btn btn-primary">Continue</button>
          </div>
        </form>
      </div>
   
