@{extends "shared/layout"}
      <div class="container h-100 mt-5">
        <div class="row h-100 justify-content-center align-items-center">
          <form class="col-6">
            <h1>Your account is almost ready</h1>

            <p>
              <i class="fa fa-clock"></i>Let's set up your list and build the campaigns you dream about.
            </p>

            <h3>
              Do you want to stay in the loop with MailBear!!
            </h3>

            
              <input type="checkbox" name="subscribetostore" value="subscribetostore"> <strong>Subscribe to what's in store</strong>
              <p>A bi- weekly newsletter of e-commerce stories, tips, and experimentation</p>
              <br>
              <input type="checkbox" name="subscribetostore" value="subscribetomailbear" checked> Subscribe to MailBear present
              <p>A monthly newsletter highlighting MailBear short form series, films and podcasts madw tih entreprenuers in mind.</p>
              <br>
              <input type="submit" value="Submit">
            

          </form>
        </div>
      </div>
   
