@{extends "shared/layout"}
<div class="container mt-5">
  <div class="row justify-content-center align-items-center ">
    <div class="row">
      <div class="col-12">
        <form class="col-sm-12">
          <h1 class="mb-3">Your account is almost ready</h1>
          <p class="mb-4">
            <i class="fa fa-clock"></i>Let's set up your list and build the
            campaigns you dream about.
          </p>
          <h3 class="mb-4">
            Do you want to stay in the loop with MailBear!!
          </h3>
          <input
            type="checkbox"
            name="subscribetostore"
            value="subscribetostore"
          />
          <strong>Subscribe to what's in store</strong>
          <p>
            A bi- weekly newsletter of e-commerce stories, tips, and
            experimentation
          </p>
          <br />
          <input
            type="checkbox"
            name="subscribetostore"
            value="subscribetomailbear"
            checked
          />
          <strong>Subscribe to MailBear present</strong>
          <p>
            A monthly newsletter highlighting MailBear short form series, films
            and podcasts made the entreprenuers in mind.
          </p>
          <br />
          <button type="button" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
