@{extends "shared/layout"}
<div class="container mt-5">
    <div class="row justify-content-center align-items-center ">
      <div class="row">
        <div class="col-12">
          <form class="col-sm-12">
              <h1 class = >Let’s Us know your marketing path</h1>
            
              <br />
            
              <p >  
              <span>These shouldn't exceed 60 seconds,
              Please bear with us!!</span>
              </p>
          
            
              <p >
                Whether you’re brand new or an experienced marketer, we have the
                tools to get you going. Tell us a little about your business, and
                we’ll recommend where to start.
                <hr />
              </p>
          
                <br />
           <div>
              <button type="submit" class="btn btn-primary">Continue</button>
              <button type="submit" class="btn btn-default">Not Right Now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
   