@{extends "shared/layout"}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm col-md-6 d-sm-none d-md-block col-lg-3">
      <div class="card">
        <div class="page-header">
          <h5>price</p>
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />
          <br />

          <h5>plan</p>
            
        </div>
      </div>
    </div>
    <div class="col-sm col-md-6 col-lg-3">
      <div class="card">
        <div class="page-header">
          <h1 class = "text-center">Premium</h1>
          <p >Advanced features for pros who needs more customization.</p>
          <br />
          <br />
         
          <p class = "text-center">Staring at</p>
          <h2 class = "text-center">N289<small>00</small></h2>
          <div class = "btn btn-primary text-center">Select</div>
          <p class = "text-center">a month</p>
        </div>
      </div>
    </div>
    <div class="col-sm col-md-6 col-lg-3">
      <div class="card">
        <div class="page-header">
            
          <h1 class = "text-center"> Standard</h1>
          <p >Better insight for growing businessess that want more customers.</p>
          <br />
          <br />
          <p class = "text-center">Starting at</p>
          <h2 class = "text-center">N14<small>99</small></h2>
          <div class = "btn btn-primary text-center">Select</div>
          <p class = "text-center">a month</p>
        </div>
      </div>
    </div>
    
    <div class="col-sm col-md-6 col-lg-3">
      <div class="card">
        <div class="page-header">
          <h1>Free</h1>
          <p>All the basics for businessess that are just getting started.</p>
          <br />
          <br />
          <br />
          <p class = "text-center">Starting at </p>
          <div class = "btn btn-primary">Select</div>
          <h2 class = "text-center"><small>N</small>0</h2>
          <p class = "text-center">a month</p>
        </div>
      </div>
    </div>
  </div>
</div>
